body{
    background-color: #f0f8ff;
    footer{
        background-color: #f3f3f3;
        .d0{
            color: #575757;
            ul{
                list-style: none;
                a{
                    color:#222222;
                    text-decoration: none;
                    letter-spacing: 0.7px;
                }
            }
        }
        .d1{
            color: #575757;
        }
        .d2{
            background-color: #d1d1d1;
            color: #4d4d4d;
        }
        
    }
    header{
        background-color: #f3f3f3;
    }
}
.headerButton{
    a{
        color:#222222;
        text-decoration: none;
        letter-spacing: 0.7px;
        
    }
    a:hover{
        color:#222222;
    }
    
    
}
