//@import '~bootstrap/scss/bootstrap';
//@import './_variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f8ff;
    position: relative;
    nav{
        background-color: #f3f3f3;
        position: relative;
        float: left;
        width: 100%;
    }
    main{
        position: relative;
        float: left;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        text-align: center;
        form{
            input[type="submit"], input[type="button"]{
                background-color: #e8ffee;
                color: #50886a;
                font-weight: bold;
            }
            textarea{
                resize: none;
                border: none;
                &:focus{
                    border: none;
                }
            }
        }
        p{
            display: block;
        }
        image{
            pointer-events: none;
        }
    }
    footer{
        background-color: #f3f3f3;
        float: left;
         .d0{
            color: #575757;
            li{
                list-style: none;
                a{
                     color:#222222;
                     text-decoration: none;
                     letter-spacing: 0.7px;
                     &:hover{
                        color: #405DE6;
                    }
                }
            }
                 
         }
         .d1{
             color: #575757;
             .a2{
                background: -webkit-linear-gradient(#405DE6, #5851DB, #C13584, #FD1D1D, #F56040, #FFDC80);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
             }
         }
         .d2{
             background-color: #d1d1d1;
             color: #4d4d4d;
         }
     }
}
.imageRow{
    letter-spacing: 0.1em;
    -webkit-transition: letter-spacing 2s;
    &:hover{
        h2{
            letter-spacing: 0.11em;
            transition: letter-spacing 2s;
        }
        background-color: #f3f3f3;
        transition: background-color 2s;
    }
}
.headerButton{
    a{
        text-decoration: none;
        color: #4e381e;
        
    }
    a:hover{
        background-color: #e9e9e9;
        color: #4e381e;
        animation-name: backgroundColorPalette;
        animation-duration: 3s;
        animation-iteration-count:inherit;
    }
}

.test{
   background-color: #4d4d4d;
   color: #0c63e4; 
}

.inputText:focus{
    width: 33%;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: none;
}
.formText{
    background-color: #0c63e4;
}

@keyframes backgroundColorPalette {
    0% {
      color: #627461;
      background-color: #cde4cc;
    }
}
@keyframes lettersAnimation {
    0%{
        letter-spacing: 0.1em;
    }
    100%{
        letter-spacing: 0.2em;
    }
}
